Консоль BI-Minzdrav запущена...<br>
------------------------------------<br>
Команды:<br>
    header    - просмотр и редактирование заголовочного элемента<br>
    reports   - просмотр и редактирование структуры отчетов<br>